/*style css*/
body{
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  background: #ffe7ce;
}

:root {
  --color-muted: #a4a4a4;
  --color-text: #2b2d29;
}

* {
  box-sizing: border-box;
}

card {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #ffffff;
  box-shadow: 0 20px 50px rgb(0 0 0 / 8%);
  border-radius: 36px;
  padding: 8px;
  width: 75vw;
}
.image {
  position: absolute;
  inset: 8px;
  object-fit: cover;
  border-radius: 28px;
}

.content {
  position: relative;
  z-index: 1;
  align-self: stretch;
  padding: 200px 32px 32px;
  border-radius: inherit;
  background: liner-gradient( rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 50%) 50%);
  color: #f9f9f9;
}

h2 {
  margin-bottom: 0;
}
h3 {
  margin: 0 0 20px;
  color: var(--color-muted);
}

/*style.css*/
p {
  color: va(--color-muted);
  white-space: nowrap;
  overlow: hidden;
  text-overlow: ellipsis;
  margin: 0;
}

.read-more {
  font-size: 14px;
  display: block;
  margin: 6px 0 18px;
}

.details {
  display: flex;
  grid-gap: 16px;
  margin-bottom: 28px;
}

.item {
  display: flex;
  grid-gap: 4px;
  align-item: center;
}

.bottons {
  display: flex;
  grid-gap: 8px;
}

.primary-btn {
  width: 100%;
  border: 0;
  background: #111111;
  color: var(--color-text);
  font-family: inherit;
  border-radius: 32px;
  padding: 0 24px;
  height: 48px;
  font-size: 15px;
}

.icon-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  border: 0;
  color: #f9f9f9;
  display:grid;
  place-items: center;
  border-radius: 50px;
  height: 48px;
  width: 48px;
  background: rgb(255 255 255 / 10%);
}

@media (width >= 480px) {
  .icon-btn {
    position: static;
    min-width: 48px;
  }
}

/*styles.css*/
@media (width >= 640px) {
  .icon-btn {
    min-width: 48px;
    background: rgb(0 0 0 / 4%);
    color: var(--color-text);
  }
  
  p {
    whitw-space: inherit;
    margin-bottom: 24px;
  }

  .read-more {
    display: none;
  }

  .card {
    max-width: 700px;
    padding: 24px;
    flex-direction: row;
  }
  
  .image {
    position: static;
    height: 360px;
    width: 50%;
    min-width: 50%;
    margin-left: -56px;
    align-self: stretch;
    box-shadow: 0 20px 58px rgb(0 0 0 / 8%);
  }
  
  .content {
  display: flex;
    flex-diection: column;
    justify-content: center;
    flex: 1 1 auto;
    background: transparent;
    color: var(--color-text);
    padding: 0 32px;
  }

  primary-btn {
    background: var(--color-text);
    color: #f9f9f9;
    max-width: 70%;
  }
}
